*{
  justify-content: center;
  align-items: center;
}
.app {  
  background-color: white;
  display: block;
  justify-content: center;
  align-items: center;
}

.cards-container{
  width: 100%;
  height: 100%;
}

.card {
  display: inline-block;
  margin: 0.2%;
  cursor: pointer;
}

.card:hover {
  transform: scale(0.98);
}

.card-image {
  height: calc(100px - 10px);
  width: calc(100px - 10px);
}

.btn {
    display:flex;
    justify-content:center;
    align-items: center;
    margin-bottom: 5%;
}

.titulo {
  text-align: center;
  font-size: 300%;
  
}

.fondo {
  position: absolute;
  height: 45%;
  width: 50%;
  margin-left: 25%;

}

.hidden {
  display: none;
}