
.hidden {
  margin: -2px; /* Ajusta el valor según sea necesario */
  visibility: hidden;
}
.app {  
  background-color: rgb(48, 150, 233);
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
 
}

.cards-container{
  width: 100%;
  height: 100%;
}

.card {
  display: inline-block;
  margin: 0;
  cursor: pointer;
  box-sizing: border-box;
  
}

.card:hover {
  transform: scale(0.98);
}

.card-image {
  height: calc(100px - 10px);
  width: calc(100px - 10px);
}

.btn {
    margin-top: 0;
    width: 35%;
    height: 20%;
    border-radius: 10px;
}

.titulo {
  text-align: center;
  font-size: 300%;
  background-color: rgb(85, 67, 67);
  color: aqua;
  
}

.fondo {
  position: absolute;
  width: 94.3%;
  height: 368px;
  background-size: 30%;
  background-position: center;
  justify-content: center;
  align-items: center;

}

.reloj {
    width: 25%;
    height: 15%;
    border-radius: 10px;
}

.relojcentro {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;
}


/* .reloj-reset {
  position: relative;
} */