.app {
  background-color: blueviolet;
  display: block;
  justify-content: center;
  align-items: center;
}

.cards-container{
  width: 100%;
  height: 100%;
  margin-left: 3%;
}

.card {
  display: inline-block;
  margin: 1%;
  cursor: pointer;
}

.card:hover {
  transform: scale(0.98);
}

.card-image {
  height: calc(110px - 10px);
  width: calc(110px - 10px);
}

.btn {
    display:flex;
    justify-content:center;
    align-items: center;
}

.titulo {
  text-align: center;
  
}